body {
  padding: 50px;
  font-family: sans-serif;
}

#container {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
}

.CitiesMain {
  padding: 10px;
  font-size: 16px;
}

.CitiesMain li {
  padding-left: 20px;
  margin-bottom: 5px;
  list-style: none;
  text-decoration: none;
  font-size: 24px;
  border: 1px solid #ddd;
  border-radius: 20px;
  background: #ddd;
}

.CitiesMain li:nth-child(2n) {
  border: 1px solid #9d9d9d;
  background: #9d9d9d;
}

.CitiesMain li:hover {
  background: #3eadab;
}

.CitiesMain a {
  color: #333333;
  text-decoration: none;
}

.CityItem {
  display: flex;
  justify-content: space-between;
}

.CityItem li {

  align-items: center;
}

.btnItem {
  display: flex;
  align-items: center;
}

.btnItem button {
  width: 25px;
  height: 25px;
  margin-right: 2px;
  font-size: 10px;
  border-radius: 50%;
  border: 1px solid #8d8d8d;
  background: #8d8d8d;
}

.btnItem button:hover {
  border: 1px solid #dddddd;
  background: #dddddd;
}

.btnAdd {
  font-size: 30px;
  margin: 0 0 50px 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
